@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Comfortaa&family=Josefin+Sans&display=swap');

:root {
    --body-font: "Comfortaa", "M PLUS Rounded 1c", sans-serif;
    --header-font: "Josefin Sans", sans-serif;

    --body-weight: 400;
    --header-weight: 600;

    --transition: .4s cubic-bezier(0.6, 0.07, 0, 0.99);

    --font-size: 14;

    font-size: min(max(calc(100vh / 720 * var(--font-size)), 12px), 28px);

    --card-panel-background-color-dark: #16242f;
    --card-panel-background-color-light: #ffffff;
}

* {
    transition: background-color var(--transition), background-image var(--transition), box-shadow var(--transition);
}

body {
    font-family: var(--body-font);
    font-weight: var(--body-weight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    font-weight: var(--header-weight);
}