@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Varela+Round&family=Secular+One&display=swap');

:root {
    --body-font: "Varela Round", "Josefin Sans", "M PLUS Rounded 1c", sans-serif;
    --header-font: "Secular One", sans-serif;
    --transition: .4s cubic-bezier(0.6, 0.07, 0, 0.99);
}

* {
    transition: background-color var(--transition), background-image var(--transition), box-shadow var(--transition);
}

body {
    font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
}